@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 250, 250, 250;
    --background-start-rgb: 50, 50, 50;
    --background-end-rgb: 255, 255, 255;
  }
} */
/* color: whitesmoke;e */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ## Sections ## */
.deck-container {
  position: fixed;
  height: 72.9%;
  width: 77.4%;
  top: 0;
  right: 0;
  max-width: none;
  padding: 0;
  overflow: scroll;
  /* display: flex; */

  .deck-widget-container {
    position: relative;
    height: 9%;
    /* width: 100%; */
    top: 0;
    right: 0;
    max-width: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    /* flex-grow: 1; */
    /* justify-content: space-evenly; */
    .mana-pip.circle {
      display: grid;
      justify-items: center;
      width: 1.5rem;
      height: 1.5rem;
      background-color: grey;
    }
    .shrine-switch {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      flex-grow: 0.5;
    }
    .modals {
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-grow: 0.5;
      justify-content: center;
    }
    .card-counts {
      flex-grow: 0.75;
      margin-left: 1rem;
      margin-right: 0.75rem;
      /* min-width: 15%; */
      white-space: nowrap;
      display: flex;
      flex-direction: column;
      justify-content: center;
      div {
        font-size: medium;
        span {
          width: 50%;
          display: inline-block;
          &.valid {
            color: green;
          }
          &.warn {
            color: #c11379;
          }
        }
      }
    }
    .color-display {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      /* padding-left: 4%;
      padding-right: 4%; */
      .color-tracker-icons {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        padding-left: 1rem;
        span {
          margin-left: 0.3rem;
          margin-right: 0.3rem;
          display: grid;
          justify-items: center;
        }
      }
    }
    .curve-display {
      display: flex;
      flex-direction: row;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      /* padding-left: 4%;
      padding-right: 4%; */
      .curve-tracker-icons {
        display: flex;
        flex-direction: row;
        flex-shrink: 0;
        padding-left: 1rem;
        span {
          margin-left: 0.15rem;
          margin-right: 0.15rem;
          display: grid;
          justify-items: center;
          align-content: center;
        }
      }
    }
  }
  .main-deck {
    max-width: none;
    padding-left: 3%;
    padding-right: 3%;
  }
}

.base-card-container {
  position: fixed;
  height: 100%;
  width: 22.6%;
  left: 0;
  padding: 0;
  .base-card-widget-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    padding-bottom: 4%;
    padding-top: 4%;
    .search-filter-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 2%;
      margin-top: 1%;
      margin-right: 1%;
      .query {
        flex-grow: 1;
      }
    }
    .type-rarity-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 2%;
      > div {
        width: 50%;
        margin: 1%;
      }
    }
    .element-filter {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      .element-button-container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-grow: 1;
        button img {
          padding: 10%;
        }
        button.selected img {
          padding: 0;
          border-radius: 50%;
          border-style: solid;
          border-color: black;
          border-width: medium;
          box-sizing: border-box;
        }
      }
    }
    .cost-filter-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      .pip-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .mana-pip {
          position: relative;
          max-width: 12.5%;
          font-weight: bolder;
          margin: 2.5%;
        }
      }
    }
  }
  .base-card-list-container {
    height: 100%;
    overflow: scroll;
    .MuiGrid-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

.overlay-card-container {
  position: fixed;
  height: 27.1%;
  width: 77.4%;
  bottom: 0;
  right: 0;
  max-width: none;
  padding: 0;
  overflow: scroll;
  .overlay-card-widget-container {
    position: relative;
    height: 15%;
    width: 77.4%;
    top: 0;
    max-width: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    button {
      margin-right: 1rem;
    }
  }
}

.modal-parent {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &.opaque {
    transition: opacity, 50ms;
    opacity: 100%;
  }

  &.translucent {
    transition: opacity, 50ms;
    opacity: 15%;
  }
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 120%;
    &.thin-bg {
      border-radius: 5%;
      background-color: rgba(0, 0, 0, 0.6);
      padding: 10%;
      color: whitesmoke;
    }
  }

  .modal-center {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    /*hard number here because the card images are only so big*/
    max-width: 800px;
    .overlayed-modal {
      position: relative;
      .overlay {
        top: 0%;
        position: absolute;
      }
    }
  }
  .modal-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    svg {
      font-size: 4rem;
    }
  }
  .modal-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    svg {
      font-size: 4rem;
    }
  }
}

/* ## Major Components ## */

.card {
  position: relative;
  padding-right: 0%;
  padding-left: 0%;
  img {
    width: 7.55vw;
    height: 10.57vw;
  }
  .overlay {
    top: 0%;
    position: absolute;
  }
}

.card-cluster {
  display: flex;
  img {
    min-width: 7.55vw;
    border-color: black;
    border-width: thin;
    border-radius: 5%;
  }
  .overlapped {
    max-width: 5.66vw;
  }
  .last {
    width: 7.55vw;
  }
  .card:hover {
    z-index: 1;
  }
  .valid.has-essence {
    opacity: 60%;
  }
  .valid.warn img {
    border-color: red;
    border-width: medium;
    border-radius: 5%;
  }
}

/* ## Minor Components ## */

.letter {
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
  color: black;
  width: 2rem;
  height: 2rem;
}

.mana-pip {
  .circle {
    width: 2.5rem;
    height: 2.5rem;
    background-color: grey;
  }
  &.selected .circle {
    background-color: aqua;
  }
  &.highlighted .circle {
    background-color: greenyellow;
  }
}

.circle {
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: medium;
  align-content: center;
  flex-shrink: 0;
}

.unbacked-overlay img {
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.1);
}

.spacer {
  flex-grow: 1;
}

/* ## Misc ## */

.logo-card {
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.1);
}

.overlays {
  max-width: none;
}

.greyed {
  opacity: 15% !important;
}

.MuiGrid-item {
  margin: 0.75vw;
}
