@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 250, 250, 250;
    --background-start-rgb: 50, 50, 50;
    --background-end-rgb: 255, 255, 255;
    /* color: whitesmoke;e */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card {
  position: relative;
}

.card-cluster {
  display: flex;
  /* flex-direction: row; */
  margin-right: 32px;
  /* padding-right: 0; */
  /* flex-grow: 0; */
  /* overflow: hidden; */
}
.card-cluster .card:hover {
  /* flex-grow: 0; */
  /* display: inline-block; */
  /* width: 100%; */
  z-index: 1;
}

.card-cluster img {
  /* position: absolute;
  top: 0;
  left: 0; */
  min-width: 7.55vw;
}
.card-cluster .overlapped {
  /* overflow: visible; */
  max-width: 5.66vw;
  /* width: 100%; */
  /* margin-left: -15%; */
  /* margin-right: -25%; */
  /* padding: 0; */
  /* flex: 0 0 50px; */
  /* transform: translateX(-10px); */
  /* float: left; */
  /* padding-left: 0px !important; */
  /* transform: translateX(-40%); */
  /* position: relative; */
}
.card-cluster .last {
  width: 7.55vw;
}

.card .overlay {
  top: 0%;
  position: absolute;
}

.overlayed-modal {
  position: relative;
}

.overlayed-modal .overlay {
  top: 0%;
  position: absolute;
}

/* .base-card {
  position: absolute;
} */

.deck-container {
  position: fixed;
  height: 72.9%;
  width: 77.4%;
  top: 0;
  right: 0;
  max-width: none;
  padding: 0;
  overflow: scroll;

  /* float: right; */
}

.deck-container .deck-widget-container {
  position: relative;
  height: 9%;
  width: 77.4%;
  top: 0;
  right: 0;
  max-width: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.deck-container .main-deck {
  /* position: relative;
  height: 7.5%;
  width: 92.5;
  bottom: 0;
  right: 0;
  max-width: none;
  padding: 0; */
  /* width: 92.5; */
  /* height: 92.5%; */
  max-width: none;
  margin-top: 20px;
  padding-left: 3%;
  padding-right: 3%;
}

.overlays {
  max-width: none;
  /* margin: 10px; */
}

.deck-widget-container .resource-tracker {
  display: flex;
  flex-direction: row;
}

.deck-widget-container .resource-tracker .color-display {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  /* padding-right: 20%; */
  /* padding-left: 20%; */
  padding-left: 5%;
  padding-right: 5%;
}

.deck-widget-container .resource-tracker .color-display .color-tracker-icons {
  display: flex;
  flex-direction: row;
  /* margin-right: 30%; */
  flex-shrink: 0;
  padding-left: 18px;
}

.deck-widget-container
  .resource-tracker
  .color-display
  .color-tracker-icons
  span {
  margin-left: 2px;
  margin-right: 2px;
  display: grid;
  justify-items: center;
}

/* .deck-widget-container .resource-tracker .color-display span {
  display: flex;
  flex-direction: row;
} */

.base-card-container {
  position: fixed;
  height: 100%;
  width: 22.6%;
  left: 0;
  padding: 0;
  /* float: left; */
}

.base-card-container .base-card-widget-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  /* height: 12%; */
  top: 0;
  left: 0;
  padding: 0;
  padding-bottom: 4%;
  padding-top: 12px;
}

.base-card-container .base-card-list-container {
  height: 100%;
  overflow: scroll;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly; */
}

.base-card-container .base-card-list-container .MuiGrid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.base-card-widget-container .search-filter-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem;
}

.base-card-widget-container .search-filter-container .query {
  flex-grow: 1;
}

.base-card-widget-container .type-rarity-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.75rem;
}

.base-card-widget-container .type-rarity-container > div {
  flex-grow: 1;
}

.base-card-widget-container .element-filter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  /* flex-grow: 1; */
}

.base-card-widget-container .element-filter .element-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

.base-card-widget-container
  .element-filter
  .element-button-container
  button
  img {
  padding: 4px;
}

.base-card-widget-container
  .element-filter
  .element-button-container
  button.selected
  img {
  padding: 0;
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: 4px;
  box-sizing: border-box;
}

.base-card-widget-container .cost-filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.base-card-widget-container .mana-pip {
  position: relative;
  max-width: 12.5%;
  font-weight: bolder;
  margin: 2px;
}

.letter {
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: white;
  color: black;
  width: 30px;
  height: 30px;
}

.base-card-widget-container .pip-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.base-card-widget-container .mana-pip.selected .circle {
  background-color: aqua;
}

.base-card-widget-container .mana-pip.highlighted .circle {
  background-color: greenyellow;
}

.circle {
  border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  align-content: center;
  flex-shrink: 0;
}

.base-card-widget-container .mana-pip .circle {
  width: 40px;
  height: 40px;
  background-color: grey;
}

.overlay-card-container {
  position: fixed;
  height: 27.1%;
  width: 77.4%;
  bottom: 0;
  right: 0;
  max-width: none;
  padding: 0;
  overflow: scroll;
}

.overlay-card-container .overlay-card-widget-container {
  position: relative;
  height: 15%;
  width: 77.4%;
  top: 0;
  max-width: none;
  padding: 0;
}

/* .overlay-grid {
  overflow-x: hidden;
  overflow-y: auto;
  transform: rotate(-90deg);
  transform-origin: right top;
}

.overlay-grid > div {
  transform: rotate(90deg);
  transform-origin: right top;
} */

.card {
  padding-right: 0%;
  padding-left: 0%;
}

.card-cluster .card img {
  border-color: black;
  border-width: 1px;
  border-radius: 5%;
  /* z-index: 2; */
}

.card img {
  width: 7.55vw;
  height: 10.57vw;

  /* max-width: none; */
}

.unbacked-overlay img {
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.1);
}

.logo-card {
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-parent {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* flex-grow: 1; */
  width: 120%;
}

.thin-bg {
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10%;
}

.opaque {
  transition: opacity, 50ms;
  opacity: 100%;
}

.translucent {
  transition: opacity, 50ms;
  opacity: 15%;
}

.modal-center {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  max-width: 800px;
}

/* .modal-center > img {
} */

.modal-left {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.modal-left svg {
  font-size: 4rem;
}
/* 
.modal-side > button {
} */

.modal-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.modal-right svg {
  font-size: 4rem;
}

.spacer {
  flex-grow: 1;
}
